<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Stream</title>
</head>
<body>
    <center>
        <div class="outer">
            <div class="inner">
                <div class="main" id="main">
                    <!-- Video Player Integration -->
                    <video id="player" class="player" type="application/x-mpegURL" playsinline controls width="80%">
                        <source src="{{ video_url }}" type="application/x-mpegURL">
                    </video>
                </div>
            </div>
        </div>
    </center>
</body>
</html>
